*{
    margin: 0px;
    padding: 0px;
}
.contenedor{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    overflow: hidden;
}
.tierra{
    
    margin: auto;
    background-image: url(../../../img/mapa/df0047664c70f83cffe997001d2baf3fe1ea4bc8_high.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.astronauta{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 10vw;
    height: 12vh;
}
.astronauta img{
    /* como poner una imagen contrario del eje x  */
    width: 100%;
    height: 80%;
}
.letra{
    color: aliceblue;
    font-size: 2vw;
    position: absolute;
    top: 0%;
    left: 0%;
}

@media(min-width:1000px){
    .conte{
        display: none;
    }
}

@media(max-width:1000px){
    .astronauta img{
        /* como poner una imagen contrario del eje x  */
        width: 120%;
        height: 100%;
    }
    .conte{
        display: inline-block;
        position: absolute;
        bottom:10px;
        height: 30vh;
        width: 50vw;
        left: 10px;
    }
.contenedor-flechas{
    display: flex;
    flex-direction: column;
    background: #2ab8;
    border-radius: 100px;
    height: 100%;
    width: 100%;
}
/* .items-conte:first-child{
    
} */


.items-conte{
    
    position: absolute;
    width: 25%;
    height: 30%;
}
.items-conte:first-child{
    top: 5%;
    right: 0%;
    left: 0%;
    margin: auto;
}
.items-conte:nth-child(2){  
    top: 0%;
    bottom: 1%;
    left: 10%;
    margin: auto;
    transform: rotate(270deg);
   

}
.items-conte:nth-child(3){  

    right: 10%;
    top: 4%;
    bottom: 0%;
    margin: auto;
    transform: rotate(90deg);
    
}
.items-conte:last-child{  
    bottom: 5%;
    right: 5%;
    left: 0%;
    margin: auto;
    transform: rotate(180deg);
}

.items{
    width: 90%;
    height: 90%;
}

.items img{
    width: 100%;
    height: 100%;
}
}
.contador{
    font-size: 25px;
    
    position: absolute;
    top: 0px;
    right: 10px;
    animation: cambio_de_color  3.5s ease  infinite;
}

@keyframes cambio_de_color {
    to{
        color: rgb(229, 255, 0);
        text-shadow: 0px 0px 20px greenyellow;
        margin-right:.2% ;
    }
    50%{
        text-shadow: 0px 0px 20px white;
        color: white;
        transform: scale(1);


    }
    from{
        color: rgb(229, 255, 0);
        text-shadow: 0px 0px 20px greenyellow;

        margin-right:.2% ;


    }
}
.cambio_color{
    animation: cambio 2s ease infinite;
}

@keyframes cambio{
    0%{
        color: red;
        transform: scale(1.2);
        margin-left: 10px;
    }
    50%{
        color: white;
        transform: scale(1.0);
        margin-left: 0px;

    }
    100%{
        color: red;
        transform: scale(1.2);
        margin-left: 10px;

    }
}
.ostaculos{
    position: absolute;
    background: #2ab8;
    width: 7%;
    height: 14%;
    z-index: 1;
    border-radius: 100px;
    text-align: center;
}
.ostaculo-1{
    top:13% ;
    left: 39.5%;
    width: 10%;
    height: 15%;
}
.ostaculo-2{
    width: 7.8%;
    height: 14%;
    left: 27.5%;
    top: 18.8%;
}
.ostaculo-3{
    bottom: 4%;
    left: 15%;
    width: 7.8%;
    height: 15%;
}
.ostaculo-4{
    left: 22%;
    bottom: 29%;
    width: 7.8%;
    height: 18%;
}
.ostaculo-5{
    top: 68%;
    bottom: 0%;
    left:0%;
    right: 17%;
    margin: auto;   
}

.ostaculo-6{
    top: 13%;
    bottom: 0%;
    left:18%;
    right: 0%;
    margin: auto;   
}
.ostaculo-7{
    bottom: 5%;
    right: 24.5%;
    margin: auto;
}
.ostaculo-8{
    border-radius: 10px;
    bottom: 10%;
    right: 9%;
    margin: auto;
    width: 14%;
    height: 24%;
    transform: rotate(30deg);
}
.ostaculo-9{
    border-radius: 10px;
    top: -23%;
    right: -10%;
    margin: auto;
    width: 60%;
    height: 68%;
    border-radius: 1000px;
    transform: rotate(24deg);
}
.ostaculo-10{
    border-radius: 10px;
    bottom: 18%;
    left: -18%;
    margin: auto;
    width: 30%;
    height: 33%;
    border-radius: 300px;
}
.ostaculo-11{
    border-radius: 10px;
    bottom: 0%;
    left: -5%;
    margin: auto;
    width: 15%;
    height: 18%;
    border-radius: 300px;
}

.ostaculo-12{
    border-radius: 10px;
    top: 20%;
    left: -5%;
    margin: auto;
    width: 10%;
    height: 27%;
    border-radius: 200px;
}
.ostaculo-13{
    border-radius: 10px;
    top: 0%;
    left: 5%;
    margin: auto;
    width: 12%;
    height: 8%;
}
.ostaculo-14{
    border-radius: 10px;
    top: 7%;
    left: 8.5%;
    margin: auto;
    width: 7%;
    height: 9%;
    transform: rotate(-6deg);
}
.ostaculo-15{
    border-radius: 10px;
    top: 37%;
    left: 60%;
    margin: auto;
    width: 4%;
    height: 5%;
    border-radius: 200px;
}
.ostaculo-16{
    border-radius: 10px;
    top: 42%;
    left: 64.5%;
    margin: auto;
    width: 3%;
    height: 7%;
}
.ostaculo-17{
    border-radius: 10px;
    top: -6%;
    left: 27.5%;
    margin: auto;
    width: 12%;
    height: 15%;
    border-radius: 400px;

}
.ostaculo-18{
    border-radius: 10px;
    top: 5%;
    left: 32%;
    margin: auto;
    width: 3%;
    height: 10%;

}
.ostaculo-19{
    border-radius: 10px;
    top: 0%;
    left: 45.5%;
    margin: auto;
    width: 3%;
    height: 13%;

}
.ostaculo-20{
    border-radius: 10px;
    bottom: 18%;
    right: -2%;
    margin: auto;
    width: 8%;
    height: 28%;
    border-radius: 200px;

}
.ostaculo-21{
    border-radius: 10px;
    bottom: 12%;
    right: 0%;
    margin: auto;
    width: 2%;
    height: 8%;

}
.ostaculo-22{
    border-radius: 10px;
    transform: rotate(-30deg);
    bottom: -3%;
    right: -2%;
    margin: auto;
    width: 8%;
    height: 12%;
    border-radius: 200px;

}
.ostaculo-23{
    border-radius: 10px;
    bottom: 0%;
    top: 0%;
    left: -20%;
    right: 0%;
    margin: auto;
    width: 6%;
    height: 10%;
    border-radius: 200px;

}